/* Where css that doesn't work, works... */

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-changer{
   
}

.banner{
    height: 76vh;
    background-position: 50% 50%;
    object-fit:cover;
    padding: 0;
    margin:0;
}